.home-container {
  width: 100%;
  height: 100vh;
  padding: 70px 0px;  /* 헤더와 푸터 고려한 패딩 */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* 로딩 상태 스타일링 */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
  text-align: center;
  background-color: var(--bg-color);
}

.loading-logo {
  width: 150px; /* 로고 크기 */
  height: auto;
  margin-bottom: 1rem; /* 로고와 텍스트 사이 간격 */
}

/* 에러 상태 스타일링 */
.error-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-color);
}