.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
  text-align: center;
  background-color: var(--bg-color);
}

.logo {
  width: 8rem; /* 로고 크기 조정 */
  height: auto;
  margin-bottom: 1rem; /* 로고와 텍스트 사이 간격 */
}

.loading-text {
  font-size: var(--size-5);
  color: var(--text-color); /* 텍스트 색상 */
}